<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zkxy.xmoa.common.dao.SystemRoleMapper" >
  <resultMap id="BaseResultMap" type="com.zkxy.xmoa.system.model.SystemRole" >
    <id column="FID" property="fid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    FID, NAME, CODE, REMARK, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYS_ROLESYSTEM
    where FID = #{fid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYS_ROLESYSTEM
    where FID = #{fid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zkxy.xmoa.system.model.SystemRole" >
    insert into T_SYS_ROLESYSTEM (FID, NAME, CODE, 
      REMARK, CREATE_USER, CREATE_TIME, 
      UPDATE_USER, UPDATE_TIME)
    values (#{fid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zkxy.xmoa.system.model.SystemRole" >
    insert into T_SYS_ROLESYSTEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        FID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zkxy.xmoa.system.model.SystemRole" >
    update T_SYS_ROLESYSTEM
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where FID = #{fid,jdbcType=VARCHAR}
</update>
  <update id="updateByPrimaryKey" parameterType="com.zkxy.xmoa.system.model.SystemRole" >
    update T_SYS_ROLESYSTEM
    set NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where FID = #{fid,jdbcType=VARCHAR}
</update>

  <!--  * 注释以上为自动生成 替换请注意 -->


  <!-- 查询所有系统角色-->
  <select id="selectAllSystemRole" resultType="map">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    T_SYS_ROLESYSTEM t
    WHERE
    1=1
    ORDER BY
    t.code
  </select>


  <select id="selectSystemRoleByParam" parameterType="map" resultType="map">

    SELECT *
    from T_SYS_ROLESYSTEM t
    WHERE
    1=1
    <if test="queryStr != null and queryStr !='' ">
      and instr( t.NAME, #{queryStr}) > 0
    </if>
    ORDER BY t.code

  </select>

  <select id="selectCountByName" parameterType="com.zkxy.xmoa.system.model.SystemRole" resultType="int">
    SELECT
    count(1)
    FROM
    T_SYS_ROLESYSTEM t
    where
    1=1
    and t.NAME = #{name,jdbcType=VARCHAR}
    <if test="fid != null and fid !='' ">
      and t.fid != #{fid,jdbcType=VARCHAR}
    </if>

  </select>

  <select id="selectCountByCode" parameterType="com.zkxy.xmoa.system.model.SystemRole" resultType="int">
    SELECT
    count(1)
    FROM
    T_SYS_ROLESYSTEM t
    where
    1=1
    and t.code = #{code,jdbcType=VARCHAR}
    <if test="fid != null and fid !='' ">
      and t.fid != #{fid,jdbcType=VARCHAR}
    </if>

  </select>

</mapper>